@using Resources
@model WebLog.Core.ViewModels.SubjectViewModels.SubjectSiteViewModel

<div class="cells12">
    <div class="cells6 auto-size padding20 bg-white manage-content" id="cell-content" ng-if="class == null">
        <h1 class="text-light">@Model.Subject.Name <span class="mif-drive-eta place-right"></span></h1>
        <hr class="thin bg-grayLighter">
        @if (User.IsInRole("Teacher"))
        {
            <button data-toggle="modal" data-target="#myModal" class="button primary">@Global.AddTest</button>
        }
        @*<button ng-click="sendRatingSummary()" class="button primary"><span class="mif-plus"> Wyślij zestawienie ocen </span></button>*@

    <hr class="thin bg-grayLighter">

        <div>
            <div class="teacher-content-part">
                <div>
                    <table class="table border bordered">
                        <thead>
                        <tr>
                            <td class="sortable-column sort-asc" style="width: 100px"> </td>
                            <td class="sortable-column"> </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td>Klasy</td>
                            <td>

                                @foreach (var schoolClass in Model.Subject.SchoolClasses)
                                {
                                    using (Ajax.BeginForm("TeacherClass", "Teacher", new { subjectId = Model.Subject.Id, schoolClassId = schoolClass.Id }, new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        UpdateTargetId = "teacher-account-content"
                                    }))
                                    {
                                        <input class="input-class-te" type="submit" class="button primary" value="@schoolClass.Name" />

                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Sprawdziany</td>
                            <td>
                                @foreach (var test in Model.Tests)
                                {
                                    using (Ajax.BeginForm("Detail", "Test", new { id = test.Id }, new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        UpdateTargetId = "teacher-account-content"
                                    }))
                                    {
                                        <input class="input-test-te" type="submit" class="button primary" value="@test.Name" />
                                    }

                                }
                            </td>

                        </tr>
                        <tr>
                            <td>Treści kształcenia</td>
                            <td>
                                @Model.Subject.Content
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>

                @using (Ajax.BeginForm("AddContent", "Teacher", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "teacher-account-content"
                }))
                {
                    @Html.HiddenFor(x => x.Subject.Id)
                    <div>
                        <label>@Global.Content: </label>
                        @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Content)
                    </div>


                    <div>
                        <input type="submit" value="@Global.Add">
                    </div>

                }

            </div>
            <div>
                <img src="~/Content/img/teacher.jpg" width="30%" />
            </div>

            <div class="teacher-content-part">

            </div>

        </div>


    </div>


</div>
<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header modal-header-adds">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nowy test</h4>
            </div>

            @using (Ajax.BeginForm("AddTest", "Test", new AjaxOptions
            {
                HttpMethod = "Post",
                UpdateTargetId = "teacher-account-content"
            }))
            {
                @Html.HiddenFor(x => x.Subject.Id)
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nazwa</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = @Global.NameOfTest })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>

                    <div class="form-group">
                        <label>Czas testu</label>
                        @Html.TextBoxFor(x => x.Time, new { @class = "form-control", @placeholder = @Global.TimeOfTest })
                        @Html.ValidationMessageFor(x => x.Time)
                    </div>
                    <div class="form-group">
                        <label>Przedmiot</label>
                        @Html.DropDownListFor(model => model.SelectedSubject, Model.Subjects, new { @class = "form-control" })

                    </div>

                    <div>
                        <div class="modal-footer">
                            <input type="submit" id="submit-signin" value="@Global.AddTest" onclick="closeModal()">
                            <button id="add-test-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>