@using Resources
@model WebLog.Core.ViewModels.TeacherAccountViewModel


<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header mowdal-header-adds">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nowe ogłoszenie</h4>
            </div>

            @using (Ajax.BeginForm("AddAdvertisement", "Teacher", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "teacher-account-content",
                OnSuccess = "onLoadEnd"
            }))
            {
                <div class="modal-body">
                    <label class="modal-label">@Global.Text: </label>
                    @Html.TextAreaFor(x => x.Text)
                    @Html.ValidationMessageFor(x => x.Text)
                    <br />
                    <label class="modal-label">Przez Email: </label>
                    @Html.CheckBoxFor(x => x.ByEmail, new { @class = "input-control checkbox" })
                    @Html.ValidationMessageFor(x => x.ByEmail)
                    <br />
                    @{
                        Model.ByEmail = true;
                    }
                    <label class="modal-label">Przez stronę: </label>
                        @Html.CheckBoxFor(x => x.BySite, new { @class = "input-control checkbox" })
                        @Html.ValidationMessageFor(x => x.BySite)
                    <br />
                    <label class="modal-label">Do rodziców: </label>
                    @Html.CheckBoxFor(x => x.ForParents, new { @class = "input-control checkbox" })
                    @Html.ValidationMessageFor(x => x.ForParents)
                    <br />
                    <label class="modal-label">Do studentów: </label>
                    @Html.CheckBoxFor(x => x.ForStudents, new { @class = "input-control checkbox" })
                    @Html.ValidationMessageFor(x => x.ForStudents)
                    <br />
                    @Html.HiddenFor(x => x.Teacher.Id)
                    @Html.HiddenFor(x => x.Teacher.Id)
                    @Html.HiddenFor(x => x.BySite)
                    @Html.HiddenFor(x => x.ByEmail)
                    <label class="modal-label">Klasy: </label>
                    @foreach (var item in Model.Classes)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedClasses"
                                       value="@item.Value" /> @item.Text
                                </label>
                            </div>
                    }

                    <div>
                        <input type="submit" value="@Global.Send">
                    </div>
                </div>
            }

        </div>

    </div>
</div>

<div class="cell auto-size padding20 bg-white manage-content" id="cell-content">
    <h1 class="text-light">Ogłoszenia <span class="mif-drive-eta place-right"></span></h1>
    <hr class="thin bg-grayLighter">
    <button data-toggle="modal" data-target="#myModal" class="button primary"><span class="mif-plus">  @Global.Create </span></button>
    <hr class="thin bg-grayLighter">
    @if (Model.Teacher != null && Model.Teacher.Advertisements != null)
    {
        foreach (var adv in Model.Teacher.Advertisements)
        {
            <div class="tile tile-wide" data-role="tile">
                <div class="panel">
                    <div class="heading">
                        <span class="title">@adv.Title</span>
                    </div>
                    <div class="content adv-text">
                        @adv.Text
                    </div>
                </div>
            </div>
        }
    }


    <span id="returnMessage"></span>
</div>