@using Resources
@using WebLog.Core.Models
@model WebLog.Core.ViewModels.TestsViewModels.TestDetailViewModel
    
<div class="col-sm-4">

    @using (Html.BeginForm("Detail", "Test", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            <label>@Global.Name: </label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group">
            <label>@Global.Surname: </label>
            @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Time)
        </div>


        <div class="form-group modal-header">
            <input type="submit" class="btn btn-primary" value="@Global.Update">
        </div>
    }
</div>

<div class="col-sm-8">
    @foreach (var question in Model.Questions)
    {
        <div>
            <a onclick="toggleAnswers(@question.Id)"><span class="row">@(question.Points)p.    @question.Text</span></a>
            <div id="@("question" + question.Id)" hidden="">
                @foreach (var answer in question.Answers)
                {
                    <span>-@answer.Text</span><br/>
                }
            </div>
        </div>
    }
    
    <a class="btn btn-primary" href="~/Test/AddQuestion/@Model.Id">@Global.AddQuestion</a>

</div>

<script>
    function toggleAnswers(questionId) {
        var el = $("#question" + questionId);
        el.toggle();
    }
</script>