@using Resources
@using WebLog.Core.Models
@model WebLog.Core.ViewModels.TestsViewModels.TestDetailViewModel

@Styles.Render("~/Content/bootstrap-modal")
@Styles.Render("~/Content/bootstap-adds")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/metro")

<div class="cell auto-size padding20 bg-white manage-content" id="cell-content" ng-if="class == null">
    <h1 class="text-light">@Model.Name <span class="mif-drive-eta place-right"></span></h1>
    <hr class="thin bg-grayLighter">

    <div>
        <div class="teacher-content-part">
            <table class="table">
                <thead>
                <tr>
                    <td><h2>Pytania</h2></td>
                </tr>
                </thead>
                <tbody>
                @foreach (var question in Model.Questions)
                {
                    <tr>
                        <td>
                            <a style="cursor: pointer; text-decoration: none;" onclick="toggleAnswers(@question.Id)"><h3 class="row">@(question.Points)p.    @question.Text</h3></a>
                            <div id="@("question" + question.Id)" hidden="">
                                @foreach (var answer in question.Answers)
                                {
                                    <h4 style="margin-left: 10px; margin-top :5px; background-color: #C9DDF0; padding: 10px;"># @answer.Text</h4><br />
                                }
                            </div>
                        </td>

                    </tr>
                }
                </tbody>
            </table>

            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">@Global.AddQuestion</button>
        </div>
        <div >
            <img style="margin-top: 4.6rem; margin-left: 2rem;" src="~/Content/img/teacher.jpg" width="30%" />
        </div>
    </div>


</div>

<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header modal-header-adds">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nowe pytanie</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddQuestion", "Test", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "onLoadEnd",
                    UpdateTargetId = "teacher-account-content"
                }))
                {
                    @Html.HiddenFor(x => x.NewQuestionViewModel.TestId)

                    <div class="form-group">
                        <label>@Global.Question: </label>
                        @Html.TextBoxFor(x => x.NewQuestionViewModel.QuestionText, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewQuestionViewModel.QuestionText)
                    </div>

                    <div class="form-group">
                        <label>@Global.Answers: </label>
                        @Html.TextAreaFor(x => x.NewQuestionViewModel.Answer1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewQuestionViewModel.Answer1)
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(x => x.NewQuestionViewModel.Answer2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewQuestionViewModel.Answer2)
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(x => x.NewQuestionViewModel.Answer3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewQuestionViewModel.Answer3)
                    </div>

                    <div class="form-group">
                        <label>@Global.CorrectAnswer: </label>
                        @Html.TextBoxFor(x => x.NewQuestionViewModel.CorrectAnswer, new { @class = "form-control", @type = "number", @max=3})
                        @Html.ValidationMessageFor(x => x.NewQuestionViewModel.CorrectAnswer)
                    </div>

                    <div class="form-group">
                        <label>@Global.Points: </label>
                        @Html.TextBoxFor(x => x.NewQuestionViewModel.Points, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(x => x.NewQuestionViewModel.Points)
                    </div>

                    <div class="modal-footer">
                        <input style="float: left; margin-left: -15px;" type="submit" class="btn btn-primary" value="@Global.Add">
                        <button id="add-test-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                }
            </div>


        </div>

    </div>
</div>

<script>
    function toggleAnswers(questionId) {
        var el = $("#question" + questionId);
        el.toggle();
    }
</script>