@using Resources
@model WebLog.Core.ViewModels.SummaryViewModels.SummaryViewModel


@using (Ajax.BeginForm("Search", "Summary", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "searchResult"
}))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control", id="", placeholder = "start date", type="date" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control", id = "", placeholder = "end date", type="date" })
        </div>

        <div class="form-group">
            <label>@Global.Subject</label>
            @Html.DropDownListFor(model => model.SelectedSubject, Model.Subjects, "")
        </div>

        <div class="form-group">
            <label>@Global.Student</label>
            @Html.DropDownListFor(model => model.SelectedStudent, Model.Students, "")
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="@Global.Search">
        </div>

    </div>
}

<div id="searchResult">

</div>