@using Resources
@model WebLog.Core.ViewModels.SummaryViewModels.SummaryViewModel


<div class="flex-grid no-responsive-future" style="height: 100%;">
    <div class="row" style="height: 100%">
        <div class="cell size-x200 sidebar" id="cell-sidebar">
            @using (Ajax.BeginForm("Search", "Summary", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "searchResult"
            }))
            {
                <ul class="sidebar">
                    
                    <li class="sidebar-search-li">
                        <div class="input-control text sidebar-search-form">
                            <label>Od</label>
                            @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control", id = "", placeholder = "start date", type = "date" })
                        </div>
                    </li>

                    <li class="sidebar-search-li">
                        <div class="input-control text sidebar-search-form">
                            <label>Do</label>
                            @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control", id = "", placeholder = "end date", type = "date" })
                        </div>
                    </li>

                    <li class="sidebar-search-li">
                        <div class="input-control text sidebar-search-form">
                            <label>Przedmiot</label>
                            @Html.DropDownListFor(model => model.SelectedSubject, Model.Subjects, "")
                        </div>
                    </li>

                    <li class="sidebar-search-li">
                        <div class="input-control text sidebar-search-form">
                            <label>Uczeń</label>
                            @Html.DropDownListFor(model => model.SelectedStudent, Model.Students, "")
                        </div>
                    </li>
                    
                    <li>
                        <input type="submit" class="button primary sidebar-serach-form-submit" value="@Global.Search">
                    </li>

                </ul>
            }

        </div>
        
        <div id="searchResult">

        </div>

    </div>
</div>