@using Resources
@model WebLog.Core.ViewModels.AuthViewModels.SignInViewModel

@{
    Layout = null;
}

@Styles.Render("~/Content/metro")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/metro")
@Scripts.Render("~/bundles/ownScript")


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-wsubjectIdth, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel='shortcut icon' type='image/x-icon' href='../favicon.ico' />

</head>
<body class="bg-darkTeal">
    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
    {
        <div class="login-form padding20 block-shadow">
            <form>
                <h1 class="text-light">@Global.LoginToService</h1>
                <hr class="thin" />
                <br />
                <div class="input-control text full-size" data-role="input">
                    <label for="user_login">@Global.UserEmail</label>
                    @Html.TextBoxFor(x => x.Email, new { @name="user_login", id="user_login", @class="login-input" })
                </div>
                <br />
                <br />
                <div class="input-control password full-size" data-role="input">
                    <label for="user_password">@Global.UserPassword</label>
                    @Html.PasswordFor(x => x.Password, new { name="user_password", id="user_password", @class = "login-input" })
                </div>
                <br />
                <br />
                <div class="form-actions">
                    <button type="submit" class="button primary">@Global.LoginToService</button>
                <a type="button" class="button link" href="~/Home/RemindPassword">@Global.RemindPassword</a><br/>
                    <span class="sign-up-adds-login"> Nie masz jeszcze konta?  <a href="~/Home/SignUp">   Zarejestruj się teraz!</a></span>
                </div>
            </form>
        </div>
    }
</body>
</html>
