@using Resources
@model WebLog.Core.ViewModels.AuthViewModels.SignUpViewModel

@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>@Global.Name: </label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        <label>@Global.Surname: </label>
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Surname)
    </div>

    <div class="form-group">
        <label>@Global.Birth: </label>
        @Html.TextBoxFor(x => x.Birth, new { @class = "form-control", id = "datetimepicker1" })
        @Html.ValidationMessageFor(x => x.Birth)
    </div>

    <div class="form-group">
        <label>@Global.Email: </label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type="email" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>


    <div class="form-group">
        <label>@Global.Address: </label>
        @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Adress)
    </div>


    <div class="form-group">
        <label>@Global.Pesel: </label>
        @Html.TextBoxFor(x => x.Pesel, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Pesel)
    </div>


    <div class="form-group">
        <label>@Global.Telephone: </label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Phone)
    </div>

    <div class="form-group">
        <label>@Global.Password: </label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <div class="form-group">
        <label>@Global.TypeOfUser: </label>
        @Html.EnumDropDownListFor(x => x.TypeOfUser, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TypeOfUser)
    </div>

    <div class="form-group modal-header">
        <input type="submit" class="btn btn-primary" value="@Global.SignUp">
    </div>
}
