@using Resources
@model WebLog.Core.ViewModels.AuthViewModels.SignInViewModel
    
<div>
    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
    {
        <div id="content-signin">
            <div>
                @Html.TextBoxFor(x => x.Email, new { @class = "input-signin", @placeholder = @Global.Email })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div>
                @Html.PasswordFor(x => x.Password, new { @class = "input-signin", @placeholder = @Global.Password })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div>
                <div>
                    <input type="submit" id="submit-signin" value="@Global.SignIn">
                </div>

                <div>
                    <input type="button" value="@Global.RemindPassword" id="submit-signin2" onclick="location.href = 'RemindPassword';" />
                </div>

            </div>
        </div>
    }
</div>