@model WebLog.Core.Models.Student

    @*<h3>@(Model.Student.Name + " " + Model.Student.Surname)</h3>

    <div class="col-lg-12">
        <div class="col-lg-8">
            @foreach (var dict in Model.DictGrades)
            {
                <div class="row">
                    <a href="~/Home/SubjectName?name=@dict.Key"><h4>@dict.Key</h4></a>
                    @foreach (var grade in dict.Value)
                    {
                        <a>@((int)grade.Grade)</a>
                    }
                </div>
            }
        </div>
        <div class="col-lg-4">
            @foreach (var advertisement in Model.Advertisements)
            {
                <div class="row">
                    <h4>@advertisement.Teacher.Name  @advertisement.Teacher.Surname</h4>
                    <p>@advertisement.Text</p>
                </div>
            }
        </div>
    </div>*@

@Styles.Render("~/Content/bootstrap-modal")
@Styles.Render("~/Content/jquery-datatables")

<div>
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x200 sidebar left-sidebar" id="cell-sidebar">
                <ul class="sidebar">
                    @using (Ajax.BeginForm("StudentGrades", "Home", new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "student-account-content"
                    }))
                    {
                        <li>
                            <span class="mif-apps icon" style="font-size: 2rem"></span>
                            @*<h4><span class="title">@subject.Name</span></h4>*@
                            <input type="submit" class="title" value="Oceny" />
                        </li>
                    }

                    @using (Ajax.BeginForm("StudentSubjects", "Home", new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "student-account-content"
                    }))
                    {
                        <li>
                            <span class="mif-apps icon" style="font-size: 2rem"></span>
                            @*<h4><span class="title">@subject.Name</span></h4>*@
                            <input type="submit" class="title" value="Przedmioty" />
                        </li>
                    }

                    @using (Ajax.BeginForm("StudentAdvertisements", "Home", new { classId = Model.SchoolClass.Id }, new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "student-account-content"
                    }))
                    {
                        <li>
                            <span class="mif-apps icon" style="font-size: 2rem"></span>
                            @*<h4><span class="title">@subject.Name</span></h4>*@
                            <input type="submit" class="title" value="Ogłoszenia" />
                        </li>
                    }

                </ul>
            </div>

            <div id="student-account-content" class="cell auto-size padding20 bg-white site-content">
            </div>

        </div>
    </div>
</div>

@*<div class="row">
                    <div class="col-lg-8">
                        @foreach (var subject in Model.Teacher.Subjects)
                        {
                            <div class="row">
                                <a href="~/Home/Subject/@subject.Id"><h2>@subject.Name</h2></a>
                                <div class="row">
                                    @foreach (var schoolClass in subject.SchoolClasses)
                    {
                                        <a class="btn btn-primary" href="~/Home/TeacherClass?subjectId=@subject.Id&schoolClassId=@schoolClass.Id">
                                            @schoolClass.Name
                                        </a>

                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-lg-4">
                        @using (Ajax.BeginRouteForm("DefaultApi", new { controller = "Log", action = "AddAdvertisement", HttpRoute = "true" },
    new AjaxOptions { HttpMethod = "POST", OnFailure = "onFailure", OnSuccess = "resetForm" }, new { id = "adv-form" }))
                        {

                            <div class="form-group">
                                <label>@Global.Text: </label>
                                @Html.TextAreaFor(x => x.Text, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Text)
                            </div>

                            @Html.HiddenFor(x => x.Teacher.Id)

                            foreach (var item in Model.Classes)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               name="SelectedClasses"
                                               value="@item.Value" /> @item.Text
                                        </label>
                                    </div>
                            }

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="@Global.Send">
                            </div>
                        }
                        <span id="returnMessage"></span>
                    </div>
                </div>


                <script>
                    function resetForm() {
                        $("#adv-form")[0].reset();
                        $("#returnMessage").text("@Global.MessageSent");

                    }
                </script>*@


@section Scripts {

    @Scripts.Render("~/bundles/angular");
    @Scripts.Render("~/bundles/bootstrap-modal");
    @Scripts.Render("~/bundles/jquery-datatables")

}