@using Resources
@model WebLog.Core.ViewModels.SubjectViewModels.SubjectSiteViewModel
    
<h1>@Model.Subject.Name</h1>

<div class="col-lg-12">
    @if (User.IsInRole("Teacher"))
    {
        <div class="col-lg-6">
            <form action="~/Home/AddFile" method="post" enctype="multipart/form-data">
                <input name="subjectId" value="@Model.Subject.Id" hidden />
                <input type="file" name="file" />
                <input type="submit" value="Wyślij plik" />
            </form>

            @using (Html.BeginForm("AddContent", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Subject.Id)
                <div class="form-group">
                    <label>@Global.Content: </label>
                    @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Content)
                </div>


                <div class="form-group ">
                    <input type="submit" class="btn btn-primary" value="@Global.SignIn">
                </div>

            }
        </div>

    }
    @if (User.IsInRole("Student"))
    {
        <div class="col-lg-6">cos tu bedzie</div>
    }
    
    <div class="col-lg-6">
        
        @foreach (var test in Model.Tests)
        {
            <a class="row" href="~/Test/Detail/@test.Id">@test.Name</a>
        }
        
    @if (User.IsInRole("Teacher"))
    {
        <a href="~/Test/AddTest" class="btn btn-primary">@Global.AddTest</a>
    }
    </div>
</div>