@model WebLog.Core.ViewModels.TeacherAccountViewModel

<div class="row">
    <div class="col-lg-8">
        @foreach (var subject in Model.Teacher.Subjects)
        {
            <div class="row">
                <a href="~/Home/Subject/@subject.Id"><h2>@subject.Name</h2></a>
                <div class="row">
                    @foreach (var schoolClass in subject.SchoolClasses)
                {
                        <a class="btn btn-primary" href="~/Home/TeacherClass?subjectId=@subject.Id&schoolClassId=@schoolClass.Id">
                            @schoolClass.Name
                        </a>

                    }
                </div>
            </div>
        }
    </div>
    <div class="col-lg-4">
        @using (Ajax.BeginRouteForm("DefaultApi", new { controller = "Log", action="AddAdvertisement", HttpRoute = "true" },
        new AjaxOptions { HttpMethod = "POST", OnFailure = "onFailure", OnSuccess = "resetForm" }, new {id = "adv-form"}))
        {
            @Html.HiddenFor(x => x.Teacher.Id)
            @Html.HiddenFor(x => x.Teacher.Birth)

            <div class="form-group">
                <label>Text: </label>
                @Html.TextAreaFor(x => x.Text, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Text)
            </div>



            foreach (var item in Model.Classes)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="SelectedClasses"
                               value="@item.Value"/> @item.Text
                    </label>
                </div>
            }

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Wyślij">
            </div>
        }
        <span id="returnMessage"></span>
    </div>
</div>


<script>
    function resetForm() {
        $("#adv-form")[0].reset();
        $("#returnMessage").text("Wiadomosc wyslana");

    }
</script>