@using Resources
@model WebLog.Core.ViewModels.TeacherAccountViewModel
    
@Styles.Render("~/Content/bootstrap-modal")
@Styles.Render("~/Content/jquery-datatables")

<div>
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x200 sidebar left-sidebar" id="cell-sidebar">
                <ul class="sidebar">
                    @foreach (var subject in Model.Teacher.Subjects)
                    {
                        using (Ajax.BeginForm("Subject", "Home", new { id = subject.Id}, new AjaxOptions
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "teacher-account-content"
                        }))
                        {
                            <li>
                                    <span class="mif-apps icon" style="font-size: 2rem"></span>
                                    @*<h4><span class="title">@subject.Name</span></h4>*@
                                    <input type="submit" class="title" value="@subject.Name" />
                            </li>
                        }
                    }
                    
                    @using (Ajax.BeginForm("TeacherAdvertisements", "Home", new AjaxOptions
                    {
                    HttpMethod = "GET",
                    UpdateTargetId = "teacher-account-content"
                    }))
                    {
                    <li>
                        <span class="mif-apps icon" style="font-size: 2rem"></span>
                        @*<h4><span class="title">@subject.Name</span></h4>*@
                        <input type="submit" class="title" value="Ogłoszenia" />
                    </li>
                    }

                </ul>
            </div>
            
            <div id="teacher-account-content" class="cell auto-size padding20 bg-white site-content" >
            </div>
          
        </div>
    </div>
</div>

            @*<div class="row">
                <div class="col-lg-8">
                    @foreach (var subject in Model.Teacher.Subjects)
                    {
                        <div class="row">
                            <a href="~/Home/Subject/@subject.Id"><h2>@subject.Name</h2></a>
                            <div class="row">
                                @foreach (var schoolClass in subject.SchoolClasses)
                {
                                    <a class="btn btn-primary" href="~/Home/TeacherClass?subjectId=@subject.Id&schoolClassId=@schoolClass.Id">
                                        @schoolClass.Name
                                    </a>

                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-4">
                    @using (Ajax.BeginRouteForm("DefaultApi", new { controller = "Log", action = "AddAdvertisement", HttpRoute = "true" },
new AjaxOptions { HttpMethod = "POST", OnFailure = "onFailure", OnSuccess = "resetForm" }, new { id = "adv-form" }))
                    {

                        <div class="form-group">
                            <label>@Global.Text: </label>
                            @Html.TextAreaFor(x => x.Text, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Text)
                        </div>

                        @Html.HiddenFor(x => x.Teacher.Id)

                        foreach (var item in Model.Classes)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="SelectedClasses"
                                           value="@item.Value" /> @item.Text
                                    </label>
                                </div>
                        }

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="@Global.Send">
                        </div>
                    }
                    <span id="returnMessage"></span>
                </div>
            </div>


            <script>
                function resetForm() {
                    $("#adv-form")[0].reset();
                    $("#returnMessage").text("@Global.MessageSent");

                }
            </script>*@


@section Scripts {

    @Scripts.Render("~/bundles/angular");
    @Scripts.Render("~/bundles/bootstrap-modal");
    @Scripts.Render("~/bundles/jquery-datatables")
}