@model WebLog.Core.ViewModels.StudentGradesViewModel

@foreach (var student in Model.SchoolClass.Students)
{
    <div class="row">

        <div class="col-lg-2">
            @(student.Name + " " + student.Surname)
        </div>

        <div id="@("studentGrades"+@student.Id)" class="col-lg-4">
            @foreach (var grade in Model.SchoolGrades.Where(x => x.Student.Id == student.Id))
            {
                <a>@grade.Grade</a>
            }
        </div>
        <div class="col-lg-6">
            <input id="@("student" + student.Id)" type="number"/>
            <a onclick="updateSubjectClass(@student.Id);"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
}

<script type="text/javascript">
    function updateSubjectClass(id) {
        var selectedGrade = $("#student" + id).val();
        if (confirm("Czy napewno chcesz dodać ocenę?")) {
            $.ajax({
                type: "POST",
                url: "/Home/AddGrade",
                data: { grade: selectedGrade, teacherId: @Model.Teacher.Id, subjectId: @Model.Subject.Id, studentId: id},
            success: function(msg) {
                $("#studentGrades"+id).append("<a>" + selectedGrade + "</a>");
            },
            error: function(e) {
            }
        });}
    }
</script>