@using Resources

@Styles.Render("~/Content/bootstrap-modal")
@Styles.Render("~/Content/jquery-datatables")
@*<div class="row">
        <a class="btn btn-primary" href="~/Admin/Subjects">@Global.Subjects</a>
        <a class="btn btn-primary" href="~/Admin/SchoolClasses">@Global.Classes</a>
    </div>*@

<!-- Link to open the modal -->
<div ng-app="mainModule" ng-controller="ManageController" ng-switch="selection">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x200 sidebar left-sidebar" id="cell-sidebar">
                <ul class="sidebar">
                    <li id="choice0" ng-click="changeActive(0)">
                        <a class="active" href="#">
                            <span class="mif-apps icon"></span>
                            <span class="title">Subjects</span>
                            <span class="counter">{{subjects.length}}</span>
                        </a>
                    </li>
                    <li id="choice1" ng-click="changeActive(1)">
                        <a href="#">
                            <span class="mif-school icon"></span>
                            <span class="title">Classes</span>
                            <span class="counter">{{classes.length}}</span>
                        </a>
                    </li>
                    
                    <li id="choice2" ng-click="changeActive(2)">
                        <a href="#">
                            <span class="mif-users icon"></span>
                            <span class="title">Teachers</span>
                            <span class="counter">{{teachers.length}}</span>
                        </a>
                    </li>

                    <li id="choice3" ng-click="changeActive(3)">
                        <a href="#">
                            <span class="mif-users icon"></span>
                            <span class="title">Students</span>
                            <span class="counter">{{students.length}}</span>
                        </a>
                    </li>
                    <li id="choice4" ng-click="changeActive(4)">
                        <a href="#">
                            <span class="mif-users icon"></span>
                            <span class="title">Advertisements</span>
                            <span class="counter">{{advertisements.length}}</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="site-content">
                <div ng-switch-when="subjects">
                    <div ng-include="'Subjects'">

                    </div>
                </div>
                <div ng-switch-when="classes">
                    <div ng-include="'classes'">

                    </div>
                </div>
                <div ng-switch-when="students">
                    <div ng-include="'students'">

                    </div>
                </div>
                <div ng-switch-when="teachers">
                    <div ng-include="'teachers'">

                    </div>
                </div>
                <div ng-switch-when="advertisements">
                    <div ng-include="'advertisements'">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap-modal")
    @Scripts.Render("~/bundles/jquery-datatables")

}