@using Resources
@model WebLog.Core.ViewModels.SchoolClassViewModel

<h2>@Model.Name</h2>

@if (Model.Teacher != null)
{
    <div class="row">
        <h2 class="col-lg-5">@Global.Educator: @(Model.Teacher.Name + " " + Model.Teacher.Surname)</h2>
        @using (Html.BeginForm("DeleteTeacher", "Admin", new { schoolClassId = Model.Id }, FormMethod.Post))
        {

            @Html.HiddenFor(x => x.Id)
            <div class="form-group modal-header">
                <input type="submit" class="btn btn-primary" value="@Global.Delete">
            </div>
        }
    </div>
}
else
{
    <h2>Brak wychowawcy</h2>
    using (Html.BeginForm("AddTeacherToClass", "Admin", FormMethod.Post))
    {
        <div class="form-group">
            <label>@Global.Educator: </label>
            @Html.HiddenFor(x => x.Id);
            @Html.DropDownListFor(model => model.SelectedTeacherId, Model.AllTeachers, "")

        </div>

        <div class="form-group modal-header">
            <input type="submit" class="btn btn-primary" value="@Global.Add">
        </div>
    }
}

<h3>Uczniowie:</h3>
@foreach (var student in Model.Students)
{
    <div class="row">
        <h4 class="col-sm-5">@(student.Name + " " + student.Surname)</h4>
        @using (Html.BeginForm("DeleteStudent", "Admin", new { schoolClassId = Model.Id, }, FormMethod.Post))
        {

            {
                Model.SelectedStudentId = student.Id;
            }
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.SelectedStudentId);

            <div class="form-group modal-header">
                <input type="submit" class="btn btn-primary" value="@Global.Delete">
            </div>
        }


    </div>
}

<label>@Global.AddStudent</label>

@using (Html.BeginForm("AddStudentToClass", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <label>@Global.Students: </label>
        @Html.HiddenFor(x => x.Id);
        @Html.DropDownListFor(model => model.SelectedStudentId, Model.AllStudents, "")

    </div>

    <div class="form-group modal-header">
        <input type="submit" class="btn btn-primary" value="@Global.Add">
    </div>
}