@model WebLog.Core.ViewModels.SubjectDetailViewModel

<h1>@Model.Subject.Name</h1>
<div class="row">
    <div class="col-sm-3">
        @foreach (var schoolClass in Model.SchoolClasses)
        {
            if (schoolClass.Subjects.Contains(Model.Subject))
            {
                <input id="@("schoolClass" + schoolClass.Id)" type="checkbox" checked="checked" onchange="updateSubjectClass(@schoolClass.Id)" />
                @schoolClass.Name
                <br />
            }
            else
            {
                <input id="@("schoolClass" + schoolClass.Id)" type="checkbox" value="@schoolClass.Name" onchange="updateSubjectClass(@schoolClass.Id)" />
                @schoolClass.Name
                <br />
            }
        }
    </div>

    <div class="col-sm-3">
        @foreach (var teacher in Model.Teachers)
        {
            if (teacher.Subjects.Contains(Model.Subject))
            {
                <input type="checkbox" checked="checked" onchange="updateTeacherClass(@teacher.Id)" />
                @(teacher.Name + " " + teacher.Surname)
                <br />
            }
            else
            {
                <input type="checkbox" onchange="updateTeacherClass(@teacher.Id)" />
                @(teacher.Name + " " + teacher.Surname)
                <br />
            }
        }
    </div>
</div>

<a class="btn btn-primary" href="~/Admin/Subjects">Save</a>

<script type="text/javascript">
    function updateSubjectClass(schoolClassId) {
        $.ajax({
            type: "POST",
            url: "/Admin/AddOrRemoveSubjectToClass",
            data: { subjectId : @Model.Subject.Id, schoolClassId : schoolClassId},
            success: function(msg) {
            },
            error: function(e) {
            }
        });
    }

    function updateTeacherClass(teacherId) {
        $.ajax({
            type: "POST",
            url: "/Admin/AddOrRemoveSubjectTeacher",
            data: { subjectId : @Model.Subject.Id, teacherId : teacherId},
            success: function(msg) {
            },
            error: function(e) {
            }
        });
    }

</script>